name: Update Nix VendorHash

on:
  push:
    paths:
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:

jobs:
  update-nix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Update vendorHash
        run: |
          nix profile install nixpkgs#nix-update
          nix-update subtui --flake --version=skip

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(nix): update nix vendorHash"
          file_pattern: "flake.nix"